* {
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    font-family: 'Radio Canada', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #14191B;
    height: 90%;
    margin: 0;
  }
  
  span {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
  }
  
  .chat {
    height: 400px;
    width: 43vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
  
#chat_bot{
  transition: transform 0.5s;
}

#chat_bot:hover{
  transform: scaleX(1.07) scaleY(1.07);
}

#robot-greeting{
  display: block;
  width: 20%;
  margin-top: 34px;
  margin-left: 30px;
  color: #000;
  text-align: center;
  background-color: #FFF;
   -moz-border-radius: 10px; 
   -webkit-border-radius: 10px; 
   border-radius: 10px;
   padding: 2px;
}

::-webkit-input-placeholder { 
  opacity: 0.7;
  color: #000; 
}
   
input { 
    font-family: 'Radio Canada', sans-serif;
    border: 0; 
    padding: 15px; 
    margin-left: auto;
    border-radius: 10px; 
  }
  
  .messages {
    display: flex;
    text-align: left;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background-color: #cdcdcd;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
  }

  .messages::-webkit-scrollbar{
    display: none;
  }
  
  #bot {
    margin-right: auto;
    height: auto;
    background-color: #FFF; 
   -moz-border-radius: 10px; 
   -webkit-border-radius: 10px; 
   border-radius: 10px;
   padding: 2px;
  }

  #user {
    margin-left: auto;
    background-color: #5fc9f8;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px;
    padding: 2px;
  }
  
  .bot {
    font-family: 'Roboto', sans-serif;
  }
  
  .avatar {
    height: 25px;
  }
  
  .response {
    display: flex;
    align-items: center;
    margin: 1%;
  }
  
  
  /* Mobile */
  
  @media only screen and (max-width: 980px) {
    .container {
          flex-direction: column; 
          justify-content: flex-start;
      }
      .chat {
          width: 75vw;
          margin: 10vw;
      }
  }